.content > h1
  border-bottom  3px solid rgb(0, 172, 193)
  padding 20px 0px 20px 0px;
  font-size 24px
  
.content > h2
  border-bottom  2px solid rgb(0, 172, 193)
  padding 15px 0px 15px 0px;
  font-size 20px
 
 .content > p {
  margin: 15px 0px 15px 0px;
}
 
.content .custom-block.tip, .content .custom-block.warning, .content .custom-block.danger{
  padding: 0px;
 } 
 
.custom-block p:nth-child(1) {
  text-indent: 0em;
  margin: 30px 0px 0px 0px;
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  font-weight: bold;
}

.custom-block p:nth-child(2) {
  padding: 10px 20px;
  margin: 0px 0px 30px 0px;
}

.custom-block.tip p:nth-child(1) {
  background-color: #f3f5f7;
  border-left: 5px solid #42b983;
}

.custom-block.tip p:nth-child(2) {
  background-color: #f3f5f7;
  border-left: 5px solid #42b983;
}

.custom-block.warning p:nth-child(1) {
  border-left: 5px solid #ffe564;
  background-color: rgba(255, 229, 100, 0.3);
}

.custom-block.warning p:nth-child(2) {
  background-color: rgba(255, 229, 100, 0.3);
  border-left: 5px solid #ffe564;
}

.custom-block.danger p:nth-child(1) {
  border-left: 5px solid red;
  background-color: #ffe6e6;
}

.custom-block.danger p:nth-child(2) {
  background-color: #ffe6e6;
  border-left: 5px solid red;
}

code[class*="language-"],
pre[class*="language-"] {
  font-size: 14px;
}